opencv-python-headless  # if you don’t need GUI then use headless of the opencv-python .
ultralytics==8.3.179    # Streamlit cloud app deploy support
lap==0.5.12             # Linear assignment for tracking (Streamlit cloud app)
pandas
numpy<2                 # Streamlit cloud app deploy support
libsql-client
streamlit>=1.28.0
altair>=5.0.0
pyyaml

# Manually add back ultralytics deps you actually need:
torch
torchvision
pillow
requests
tqdm
scipy
psutil
